$card-width: 200px;

.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;
  grid-template-columns: $card-width;

  @media (min-width: 488px) {
    grid-template-columns: $card-width $card-width;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
